<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <title>プログラミングを学ぶ - Choice</title>
    <style type="text/css">
      div {
        margin: 0 auto;
        width: 900px;
      }
      .header {
        text-align: center;
        background-color: #bdf7f1;
        height: 50px;
        width: 1500px;
        font-size: 40px;
      }
      table {
        border-collapse: collapse;
      }
      table th,
      td {
        border: 1px solid #e3ecf5;
        padding: 8px;
      }
      table th {
        border: 1px solid #e3ecf5;
        color: #fff;
        background: #1f8ef5;
      }
      table tr:nth-child(odd) {
        background: #e3ecf5;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <!-- <div class="header-logo" style="position: relative; left: 100px; top: 0px">プログラミングを学ぶ</div> -->
    </div>
    <div style="font-size: 32px; position: relative; left: 150px; top: 10px">問題選択</div>

    <div id="result" style="font-size: 20px; position: relative; left: 100px; top: 20px"></div>
    <div
      id="caution"
      style="
        font-size: 20px;
        width: 600px;
        position: relative;
        margin-top: 50px;
        border: medium solid #c99;
        padding: 10px;
        background-color: #fffff4;
        display: none;
      "
    ></div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      // グローバル変数（いくつかの関数内で参照・更新する）
      let sid = null;
      let res_data = null;
      const flag_show_resdata = false; // res.dataを表示させるなら真(デバッグ用)
      const flag_show_by_table = true; // 問題選択をテーブルで表示させるなら真
      const flag_show_caution = false; // 学籍番号の確認メッセージを表示させるなら真

      // pathに基づきサーバに問い合わせる
      const origin = location.origin;
      const path_base = location.pathname.replace(/\/[^\/]*$/, "");
      const query = async (path) => {
        let res = await axios.get(origin + path_base + path);
        res_data = res.data;
        if (flag_show_resdata) {
          document.getElementById("result").innerHTML = JSON.stringify(res.data);
        }
      };

      // res_dataに基づきすべての問題（の一部の属性）を表形式で表示する
      const showQuestionForChoice = () => {
        const a = res_data instanceof Array ? res_data : [res_data];
        if (a.forEach && !flag_show_by_table) {
          let table = "<ul>";
          res_data.forEach((s) => {
            let line = "<li>";
            line += `<a href="../question/${s.question_id}">` + s.name + "</a>";
            line += "</li>";
            table += line;
          });
          table += "</ul>";
          document.getElementById("result").innerHTML += table;
        }
        if (a.forEach && flag_show_by_table) {
          let table = '<table border="1">';
          a.forEach((s) => {
            const sname = s.name.replace(/[&'"<>]/g, function (match) {
              return {
                "&": "&amp;",
                "'": "&#039;",
                '"': "&quot;",
                "<": "&lt;",
                ">": "&gt;",
              }[match];
            });
            // const flag_untyped = !s.cnt || s.cnt == "0";
            let line = "<tr>";
            line += `<td>${sname}</td>`;
            // if (flag_untyped) {
            //   line += "<td>未実施</td>";
            // } else {
            //   line += `<td>${s.cnt}回実施</td>`;
            // }
            line += `<td><button onclick="location.href='../question/${s.question_id}'">Go!</button></td>`;
            // if (flag_untyped) {
            //   line += "<td>&nbsp;</td>";
            // } else {
            //   line += `<td><button onclick="location.href='commentary.html?qid=${s.question_id}'">解説</button></td>`;
            // }
            line += "</tr>";
            table += line;
          });
          table += "</table>";
          document.getElementById("result").innerHTML += table;
        }
      };

      // すべての問題を表示する
      const showQuestion = async () => {
        await query("/getALLQuestions");
        showQuestionForChoice();
      };
      showQuestion();
    </script>
  </body>
</html>
