<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <title>情報処理ⅡB　「*」の描画 - Execution Example</title>
    <style type="text/css">
      body {
        margin: 0 auto;
        width: 1500px;
      }
      div {
        margin: 0 auto;
      }
      pre {
        font-size: 150%;
        background-color: #ccc;
      }
      .header {
        text-align: center;
        background-color: #bdf7f1;
        height: 50px;
        width: 1500px;
        font-size: 40px;
      }
      .header-logo {
        text-align: center;
      }
      .explain {
        margin: 0 auto;
        width: 753px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div class="header-logo"></div>
    </div>

    <div class="explain">
      <h1>情報処理ⅡB　「*」の描画 実行例</h1>
      <h2>{{question_name}}</h2>
      <h3>入力</h3>
<pre>{{input}}</pre>
      <h3>出力</h3>
<pre>{{output}}</pre>
      <p>
        <a href="../../top">トップページに戻る</a>
      </p>
    </div>
  </body>
</html>
