<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <title>情報処理ⅡB　「*」の描画</title>
    <style type="text/css">
      body {
        margin: 0 auto;
        width: 1500px;
      }
      div {
        margin: 0 auto;
      }
      .header {
        text-align: center;
        background-color: #bdf7f1;
        height: 50px;
        width: 1500px;
        font-size: 40px;
      }
      .header-logo {
        text-align: center;
      }
      .explain {
        margin: 0 auto;
        width: 753px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div class="header-logo"></div>
    </div>

    <div class="explain">
      <h1>情報処理ⅡB　「*」の描画</h1>
      <h2>「*」の描画とは？</h2>
      <p>
        情報処理ⅡBで毎週1問、「*」の文字を出力することで、長方形や三角形など、
       <br />
        いろいろな図形に見える「*」の配置（描画）を行うプログラムの作成に取り組んで 
       <br />
        もらいます。for文の使い方のほか、少しコードや入力を変えるだけで出力が大きく
       <br />
        変化することも、この機会に学習・経験してほしいと願っています。
       </p>
       <p>
        回を重ねるにつれて、難易度も上がりますが、どうすればいいかわからないときには、
       <br />
        ヒントを見たり、以前に作成したプログラムを活用したりすることを試みてください。
       </p>
       <p>
        使い方は、情報処理ⅡAオンラインジャッジシステムと基本的に同じです。
       <br />
        提出にペナルティや制限時間はありません。Acceptedと表示されるまで、何度でも
       <br />
        修正を行い、提出してください。このプログラミングも、採点の対象となります。
       <br />
        （点数は、「提出なし &lt; 提出したがAcceptedなし &lt; Acceptedあり」の大小関係に
       <br />
        なり、提出回数は問いません。）
       </p>
      <!--<input type="button" onclick="location.href='./choice'" value="問題選択画面へ" />-->
      <input type="button" onclick="location.href='./question/1'" value="第1問" />
    </div>
  </body>
</html>
