<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <title>情報処理ⅡAオンラインジャッジシステム</title>
    <style type="text/css">
      body {
        margin: 0 auto;
        width: 1500px;
      }
      div {
        margin: 0 auto;
      }
      .header {
        text-align: center;
        background-color: #bdf7f1;
        height: 50px;
        width: 1500px;
        font-size: 40px;
      }
      .header-logo {
        text-align: center;
      }
      .explain {
        margin: 0 auto;
        width: 753px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div class="header-logo">情報処理ⅡAオンラインジャッジシステム</div>
    </div>

    <div class="explain">
      <h1>オンライジャッジシステムとは？</h1>
      <p>
        オンラインジャッジシステムは、プログラム問題の正誤判定・採点を自動で行うシステムです。
       </p>
       <p>
        村川研究室では2021年度より独自にオンラインジャッジシステムを開発・運用し、
       <br />
        情報処理ⅡAタイピングとはまた異なる学習支援として、活用してもらっています。
       </p>
       <p>
        提出にペナルティや制限時間はありません。Accepted（正解という意味）と表示されるまで、
       <br />
        何度でも修正を行い、提出してください。
       </p>
      <input type="button" onclick="location.href='./choice'" value="問題選択画面へ" />
    </div>
  </body>
</html>
